@charset "utf-8";
@import "normalize";
@import "base";

body {
  background-color:$color1;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$color1, endColorstr=$color2);
  background-image:-moz-linear-gradient(top, $color1 0%, $color2 25%, $color3 100%);
  background-image:linear-gradient(top, $color1 0%, $color2 25%, $color3 100%);
  background-image:-webkit-linear-gradient(top, $color1 0%, $color2 25%, $color3 100%);
  background-image:-o-linear-gradient(top, $color1 0%, $color2 25%, $color3 100%);
  background-image:-ms-linear-gradient(top, $color1 0%, $color2 25%, $color3 100%);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,$color1), color-stop(25%, $color2),color-stop(100%, $color3));
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $cream;
  margin: 0;
  padding: 0;
}

.logo img {
  height: 18.75em;
}

h1 {
  color: $cream;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin:0;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid $redLight;
    border-radius: 0px;
    padding: 0.75em 0.7em;
    color: $redLight;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: $redLight;
      color: $cream;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

}
.clearfix {
  display: inline-block;
}


a {
  border: 1px solid $red;
  background: $red;
  border-radius: 0px;
  padding: 0.75em 0.7em;
  color: $cream;
  text-decoration: none;
  transition: color 0.1s linear;
  &:hover {
    background: $redLight;
    border-color: $redLight;
    color: $cream;
    transition: all 0.15s linear;
    cursor: pointer;
  }
}
